<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="learnenglishhou.bluebirdaward.com.englishe" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".danhsachchude.DanhSachChuDeActivity"
            android:label="@string/title_activity_danh_sach_chu_de" >
        </activity>
        <activity
            android:name=".chude.ChuDeActivity"
            android:label="@string/title_activity_chu_de" >
        </activity>
        <activity
            android:name=".chude.SubActivity"
            android:label="@string/title_activity_sub" >
        </activity>
        <activity
            android:name=".kiemtra.KiemTraActivity"
            android:label="@string/title_activity_kiem_tra" >
        </activity>
    </application>

</manifest>
